.nav-contanier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #D9D9D9;

    .nav-buttons{
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}