.password-card-container{
    min-width: 320px;
    max-width: 500px;
    height: 200px;
   display: flex;
   flex-direction: column;
    margin:10px;
   background-color: #308A9D;
   justify-content: center;
   align-items: center;

   border-radius: 18px;

   p{
    color: white;

   }
   .password-block{
    max-width: 350px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .card-head-container{
    display: flex;
    flex-direction: row;
   }
   
   button {
    background: none;
    border: none;

    *{
        color: white;
    }
   }



}