.password-card-container{
    min-width: 320px;
    max-width: 500px;
    height: 200px;
   display: flex;
   flex-direction: column;
    margin:10px;
   background-color: #308A9D;
   justify-content: center;
   align-items: center;

   border-radius: 18px;

   p{
    color: white;

   }
}